.title {
  font-size: 4rem;
}

.home {
  font-size: 4rem;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  -webkit-appearance-text-decoration-style: underline;
}

.home:hover {
  color: var(--blue-color);
  transition: 0.25s;
}
