.error {
  font-size: 2rem;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  -webkit-appearance-text-decoration-style: underline;
}

.link-404 {
  width: fit-content;
  margin: 0 auto;
}
