@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --blue-color: rgb(59 130 246);
  --bg-color: #E5E5E5;
  --text-color: #1A1152;
}

@media (hover: hover) {
  a:hover {
    color: var(--blue-color);
  }
}

html,
body {
  font-family: "Roboto Mono", monospace;
  background-image: url("../images/webb.png");
  background-size: 9rem;
  color: var(--text-color);
  margin: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}


/* links are pesky, so size was split for small */
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem .75rem;
  transition: 0.25s ease-in-out;
}

.homepage-link-size {
  font-size: 1rem;
}


.heading {
  text-decoration: underline;
  font-size: 3rem;
}

.content-text {
  font-size: 1rem;
}

/* click me styles */

#click-me-button {
  transition: 0.25s ease-in-out;
}

.click-me-div {
  z-index: 1;
  width: fit-content;
  position: relative;
  margin-top: 2%;
}

.click-me-div button {
  font-size: 1rem;
}

.click-me-div span {
  font-size: 1rem;
  margin: 1rem;
}

/* center image and links on homepage content */

.homepage-content {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.footer {
  margin: 0% 2.5% 0.5% 0%;
  width: fit-content;
  font-size: .6rem;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  background-image: url("../images/webb.png");
    background-size: 9rem;
}

.homepage-image-wrapper {
  border-radius: 100%;
}

/* landscape requires the top link around the image be clickable beneath the navigation bar */

/* for height <= 700px we want to shrink homepage content and font-size down to .75rem */

/* landscape */
@media (orientation: landscape) and (max-height: 300px){

  html,
  body {
    font-size: .85rem;
  }

  .homepage-image-wrapper {
    max-width: 30%;
  }

}


@media (orientation: landscape) and (min-height: 301px) and (max-height: 600px){

  html,
  body {
    font-size: .85rem;
  }

  .homepage-image-wrapper {
    max-width: 60%;
  }

}

/* not landscape */
@media only screen and (min-height: 501px){

  @media only screen and (min-width: 0px) and (max-width: 280px) {

    html,
    body {
      font-size: .8rem;
    }

    .homepage-link-size {
      font-size: 1rem;
    }
  
  }

  
  @media only screen and (min-width: 281px) and (max-width: 600px) {

    html,
    body {
      font-size: 1rem;
    }
  
  }
  
  @media only screen and (min-width: 601px) and (max-width: 768px) {

    html,
    body {
      font-size: 1.75rem;
    }
  
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {

    html,
    body {
      font-size: 2rem;
    }
  
  }
  
  @media only screen and (min-width: 1025px) {

    html,
    body {
      font-size: 2rem;
    }
  
  }

}