@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --blue-color: rgb(59 130 246);
  --bg-color: #E5E5E5;
  --text-color: #1A1152;
}

@media (hover: hover) {
  a:hover {
    color: var(--blue-color);
  }
}

html,
body {
  font-family: "Roboto Mono", monospace;
  background-image: url("../images/webb.png");
  background-size: 9rem;
  color: var(--text-color);
  margin: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.link {
  display: inline-block;
  padding: .75rem;
  transition: 0.25s ease-in-out;
  font-size: 1rem;
}

.heading {
  text-decoration: underline;
  font-size: 3rem;
}

.contentText {
  font-size: 1rem;
}

.homepageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.click-me-div {
  width: 100%;
  position: fixed;
}

.click-me-div button {
  font-size: 1rem;
}

.click-me-div span {
  font-size: 1rem;
  margin: 1rem;
}

/* landscape requires the top link around the image be clickable beneath the navigation bar */

@media only screen and (max-width: 300px) {
  html,
  body {
    font-size: 0.75rem;
  }

  @media (max-height: 450px) {
    .homepageContent {
      height: 150vh;
    }
  }
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
  html,
  body {
    font-size: 1rem;
  }

  @media (max-height: 450px) {
    .homepageContent {
      height: 150vh;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  html,
  body {
    font-size: 1.25rem;
  }

  @media (max-height: 450px) {
    .homepageContent {
      height: 150vh;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html,
  body {
    font-size: 1.5rem;
  }

  @media (max-height: 450px) {
    .homepageContent {
      height: 150vh;
    }
  }
}

@media only screen and (min-width: 1025px) {
  html,
  body {
    font-size: 1.75rem;
  }

  @media (max-height: 450px) {
    .homepageContent {
      height: 150vh;
    }
  }
}

