.layout-navbar {
  padding: .5rem 1rem .5rem 1rem;
}

.layout-padding {
  padding: 3% 2%;
}

.content {
  padding: 0 1rem 1rem 1rem;
}

.certificate-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.certificate-container > * {
  margin: 1rem 0;
  border: 1px solid black;
}

footer {
  margin: 0 auto;
  width: fit-content;
  font-size: .5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50px;
  background-image: url("../images/webb.png");
    background-size: 9rem;
}
