.layoutNavbar {
  padding: 1% 2% 1% 2%;
}

.layoutFooter {
  margin: 1% 2%;
}

.layoutPadding {
  padding: 3% 2%;
}

.content {
  padding: 0 2% 2% 2%;
}

.footer {
  padding: .1rem;
  font-size: .6rem;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  background-image: url("../images/webb.png");
    background-size: 9rem;
}
