.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 350ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: var(--text-color);
  background-image: url("../images/webb.png");
  background-size: 9rem;

  border-bottom: 1px solid var(--text-color);
}


.side-menu-container {
  position: fixed;
  transform: translateY(-1.1px);

  right: 0;
  background-image: url("../images/webb.png");
  background-size: 9rem;

  border-left: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);

}

.side-menu-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: .75rem 1rem;
  transition: 0.25s ease-in-out;
}

.bottom-shadow {
  box-shadow: 4px 7px 7px -2px var(--text-color);
  -moz-box-shadow: 4px 7px 7px -2px var(--text-color);
  -webkit-box-shadow: 4px 7px 7px -2px var(--text-color);
  -khtml-box-shadow: 4px 7px 7px -2px var(--text-color);
}




.svg1 {
  margin: auto 0;
  @apply w-5 h-5 text-gray-50 bg-blue-500 rounded-full;
}

.link-H1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  transition: 0.25s ease-in-out;
}

.side-menu {
  color: var(--text-color);
  transition: 0.25s ease-in-out;
}

@media (hover: hover) {
  .sideMenu:hover {
    color: var(--blue-color);
  }
}

