.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 350ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: var(--text-color);
  background-image: url("../images/webb.png");
  background-size: 9rem;

  border-bottom: 2px solid var(--text-color);
}

.svg {
  margin: auto 0;
  @apply w-5 h-5 text-gray-50 bg-blue-500 rounded-full;
}

/* my name + title as a link */
.link-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.bottom-shadow {
  box-shadow: 4px 6px 7px -2px var(--black-color);
  -moz-box-shadow: 4px 6px 7px -2px var(--black-color);
  -webkit-box-shadow: 4px 6px 7px -2px var(--black-color);
  -khtml-box-shadow: 4px 6px 7px -2px var(--black-color);
}

.side-menu-container {
  position: fixed;
  transform: translateY(-2px);

  right: 0;
  background-image: url("../images/webb.png");
  background-size: 9rem;

  border-left: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);

}

.side-menu-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: .75rem 1rem;
}


.side-menu {
  color: var(--text-color);
}

@media (hover: hover) {
  .sideMenu:hover {
    color: var(--blue-color);
  }
}

