.project-contents {
    list-style: square;
    padding: 1rem 2rem !important;
    font-size: 1rem;
    margin: 0 auto;
}

.project-container {
    border: 1px solid var(--text-color);
    margin-bottom: 1rem;
}

.project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-size: 2rem;
    transition: 0.25s ease-in-out;
}

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;
}