

.projects-container {
    display: flex;
    flex-direction: column;
}

.projects-container > * {
    margin: 0 0 1rem 0;
}

.project-container {
    border: 1px solid var(--text-color);
}

.project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.75rem;
}

.project-contents {
    list-style: square;
    padding: 1rem 2rem !important;
    font-size: 1rem;
    margin: 0 auto;
}

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;
}