.projectContents {
    list-style: square;
    padding: 1rem 1rem !important;
    font-size: 1rem;
    margin: 0 auto;
}

.projectContainer {
    border: 1px solid var(--text-color);
}

.projectTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-size: 2rem;
}

.projectImage {
    display: flex;
    justify-content: center;
    align-items: center;
}