.increase {
  line-height: 4rem;
  font-family: "Rubik";
  font-size: 3.5rem;
  width: 60%;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(40%);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  50% {
    transform: translateY(-65%);
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
  }
}

.downArrow {
  border-radius: 50%;
  transition: all 0.25s ease;
  @apply h-10 animate-bounce;
}

.contact {
  font-family: "Rubik";
  font-size: 1.2rem;
  letter-spacing: -0.02 rem;
  padding: 3.5% 0;
}

.border {
  border-bottom: 1px solid white;
}

.button {
  font-size: 1.5rem;
  color: var(--bg-color);
  @apply bg-white font-bold py-2 px-4 rounded-full shadow-md;
}

@media (hover: hover) {
  .button:hover {
    color: white;
    background-color: var(--blue-color);
    transition: 0.25s;
  }
}

.about {
  font-size: 0.85rem;
  width: 65%;
  line-height: 1.65rem;
}

.about h3 {
  font-size: 1.2rem;
}

.about a {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .increase {
    width: 100%;
    font-size: 3rem;
    line-height: 3rem;
  }

  .about {
    width: 100%;
    line-height: 1.75rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .increase {
    width: 75%;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .about {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .increase {
    width: 85%;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .about {
    width: 90%;
  }
}

@media only screen and (min-width: 1025px) {
  .increase {
    width: 70%;
    font-size: 3.5rem;
  }
}
