.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  color: var(--text-color);
  border-color: var(--text-color);
}

.svg1 {
  margin: auto 0;
  @apply w-7 h-7 text-gray-50 bg-blue-500 rounded-full;
}

.linkH1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  transition: 0.25s ease-in-out;
}

.sideMenu {
  color: var(--text-color);
  transition: 0.25s ease-in-out;
}

@media (hover: hover) {
  .sideMenu:hover {
    color: var(--blue-color);
  }
}

